<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stephen Hawking</title>
    <link	rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-xs-12">
            <h1 class="text-center">Stephen Hawking</h1>
            <h2 class="text-center">
              <em>Uma mente brilhante</em>
            </h2>
            <div class="thumbnail">
              <img src="http://www.hawking.org.uk/uploads/1/2/2/1/12210141/6390329.jpg">
              <div class="caption text-center">
                Stephen Hawking
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
